<li class="active">
    <a href="{{ path('commercial_index') }}"><i class="fa fa-diamond"></i> <span class="nav-label">{{ "dashboard._"|trans }}</span></a>
</li>
<li>
    <a href="{{  path('commercial_index') }}"><i class="fa fa-th-large"></i> <span class="nav-label">{{ "customer._"|trans }}</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="{{ path('client_index') }}">Tous</a></li>
        <li><a href="{{ path('client_new') }}">{{ "customer.create"|trans }}</a></li>
    </ul>
</li>
<li>
    <a href="{{  path('commercial_index') }}"><i class="fa fa-th-large"></i> <span class="nav-label">{{ "sector._"|trans }}</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li  class="active"><a href="{{ path('secteur_index') }}">Tous</a></li>
        {#{% for sector in sectorYear %}#}
            <li><a href="{{ path('secteur_index_year', {'datepublication':2017}) }}">2017</a></li>
        {#{% endfor %}#}
        {% for sector in sectors %}
        <li><a href="{{ path('secteur_show', {'id':sector.id}) }}">{{ sector.name }}</a></li>
       {% endfor %}
    </ul>
</li>
<li>
    <a href="{{  path('commercial_index') }}"><i class="fa fa-files-o"></i> <span class="nav-label">{{ "command._"|trans }}</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="{{ path('command_index') }}">Tous</a></li>
        <li><a href="dashboard_2.html">Par magazine</a></li>
        {#<li><a href="{{ path('command_new') }}">{{ "command.create"|trans }}</a></li>#}
    </ul>
</li>
<li>
    <a href="{{  path('commercial_index') }}"><i class="fa fa-table"></i> <span class="nav-label">{{ "bill._"|trans }}</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="{{ path('commercial_index') }}">Toutes</a></li>
        <li><a href="dashboard_2.html">Par magazine</a></li>
        <li><a href="#">Print</a></li>
        <li><a href="#">Web</a></li>
        <li><a href="#">{{ "bill.create"|trans }}</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">{{ "message._"|trans }}</span></a>
</li>
<li>
    <a href="{{ path('easy_mag_order_calendar') }}"><i class="fa fa-diamond"></i> <span class="nav-label">{{ "calendar._"|trans }}</span></a>
</li>