<div class="feed-element">
    <div class="media-body ">
        <table id="files-datatable" class="table table-striped table-borderless style-hover table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 25px; display:none">ID</th>
                <th>Nom du fichier</th>
                <th>Type</th>
                <th>Ajouté le</th>
                <th class="text-center" style="width: 42px;"><i class="fa fa-flash"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                {# TODO:faire un render de indexdocument#}
                <tr>
                    <td class="text-center" style="display:none">{{ document.id }}</td>
                    <td>
                        <a href="{{ path('document_show', {'id': document.id}) }}"><strong style="cursor: pointer !important;">{{ document.nom }}</strong></a>
                    </td>
                    <td class="text-center">{{ document.createdAt|date('d/m/Y') }}</td>
                    <td class="text-center">
                        <a href="{{ vich_uploader_asset(document, 'fichier') }}" download="{{ document.nom }}"
                           data-toggle="tooltip" title="Télécharger le document"
                           class="btn btn-effect-ripple btn-xs btn-primary">
                            <i class="fa fa-download"></i></a>

                        <span data-toggle="modal" data-target="#modal-fade-del-document">
                                            <a data-toggle="tooltip" data-placement="top" title="Supprimer le document" data-document="{{ document.id }}"
                                               class="btn btn-effect-ripple btn-xs btn-danger btn-delete-doc">
                                                <i class="fa fa-times"></i></a></span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>