{% extends '@EasyMagUser/BackOffice/Commercial/layout.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block title %}Title{% endblock %}

{% block breadcrumb %}
    <h2>Clients</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('commercial_index' ) }}">{{ "dashboard._"|trans }}</a>
        </li>
        <li class="active">
            <a href="{{ path('client_index' ) }}"><strong>Tous mes Clients</strong></a>
        </li>
    </ol>
{% endblock %}

 {% block content %}
    <h1>Sector edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('secteur_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
