{% extends '@EasyMagUser/BackOffice/Commercial/layout.html.twig' %}

{% block title %}Title{% endblock %}

{% block breadcrumb %}
    <h2>Commande</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('commercial_index' ) }}">{{ "dashboard._"|trans }}</a>
        </li>
        <li class="active">
            <a href="{{ path('command_index' ) }}"><strong>Mes Commandes</strong></a>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>{{ "command._" |trans }}</h2>
                    <div class="ibox-tools">
                        <div class="btn-group">
                            <a href="{{ path('command_new') }}" class="btn btn-primary btn-xl">
                                <span class="{{ 'command.create'|trans }}"></span>
                                {{ 'command.create'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        {{ sg_datatables_render_html(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ sg_datatables_render_js(datatable) }}
{% endblock %}