{% extends '@EasyMagUser/BackOffice/Commercial/layout.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block title %}Title{% endblock %}

{% block breadcrumb %}
    <h2>Clients</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('commercial_index' ) }}">{{ "dashboard._"|trans }}</a>
        </li>
        <li class="active">
            <a href="{{ path('client_index' ) }}"><strong>Tous mes Clients</strong></a>
        </li>
    </ol>
{% endblock %}

 {% block content %}

<div class="row">
    {% for customer in customers %}
        <div class="col-lg-4">
            <div class="ibox-content no-padding border-left-right">
                <img alt="image" class="img-responsive" src="{{ asset('assets/backoffice/img/cutomers/img_magazine/p8.jpg') }}">
            </div>
            <div class="contact-box center-version">
                {# TODO
                A mettre dans le show
                            <div class="m-t-xs font-bold">{% if customer.customer %}Client {% else %}Prospect{% endif %}</div>
                           la date depuis quand
                           afficher de quel secteur il est aussi !!!
                                                      #}
                <h3 class="m-b-xs"><strong>{{ customer.company }}</strong></h3>

                    <div class="font-bold">{{ customer.gender }} {{ customer.lastname }} {{ customer.firstname }}</div>
                    <address class="m-t-md">
                        <strong>  {{ customer.phone }}</strong><br>
                        {{ customer.address }}<br>{{ customer.postalCode }} {{ customer.city }}<br>
                        {{ customer.email }}
                    </address>
<br>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Envoyer un Email</a>

                    </div>
                </div>
                <a href="{{ path('client_show', { 'id': customer.id }) }}"><button type="button" class="btn btn-primary center-block">Voir sa fiche</button></a>

            </div>
        </div>




        {#<div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="{{ asset('assets/backoffice/img/cutomers/img_magazine/p8.jpg') }}">

                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h3><strong>{{ customer.company }}</strong></h3>
                        <p><i class="fa fa-map-marker"></i> {{ customer.address }}<br>{{ customer.postalCode }} {{ customer.city }}</p>
                    </div>
                    <div class="col-sm-12">
                        <address>
                            <strong>{{ customer.gender }} {{ customer.lastname }} {{ customer.firstname }}</strong><br>
                            {{ customer.phone }}<br>
                            {{ customer.email }}
                        </address>

                        <a href="{{ path('client_show', { 'id': customer.id }) }}"><button type="button" class="btn btn-primary center-block">Voir sa fiche</button></a>
                    </div>

                    <div class="clearfix"></div>
            </div>
        </div>#}
    {% endfor %}
</div>


{% endblock %}
