{% extends '@EasyMagUser/BackOffice/Commercial/layout.html.twig' %}

{% block stylesheets %}

{% endblock %}


{% block title %}Title{% endblock %}

{% block breadcrumb %}
    <h2>Clients</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('commercial_index' ) }}">{{ "dashboard._"|trans }}</a>
        </li>
        <li class="active">
            <a href="{{ path('client_index' ) }}"><strong>Mes Clients</strong></a>
        </li>
    </ol>
{% endblock %}

 {% block content %}
    <h1>{{ "customer.create" |trans }}</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ "form.required" |trans }}<sup>*</sup></h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'action': path('client_new') }}) }}
                <div class="form-group">
                    {{ form_label(form) }}
                    <div class="col-sm-10">
                        {{ form_widget(form) }}
                    </div>
                </div>
                    <input type="submit" value="Enregistrer" />
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>



    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
